* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif; }

body {
  background: #ecf2f8; }
  body .test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
  body .main-div {
    width: 60%;
    background: #fff;
    border-radius: 20px;
    display: flex; }
    body .main-div .img-part img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px; }
    body .main-div .article-part {
      padding: 2rem 1rem; }
      body .main-div .article-part h3 {
        font-size: 20px;
        font-weight: 500;
        color: #48556a;
        line-height: 1.5; }
      body .main-div .article-part p {
        font-size: 13px;
        font-weight: 400;
        color: #6d7f97;
        line-height: 1.5;
        margin-bottom: 1rem; }
      body .main-div .article-part .middle {
        display: flex;
        justify-content: flex-end; }
        body .main-div .article-part .middle .main-middle {
          background: #48556a;
          width: 50%;
          display: flex;
          opacity: 0;
          justify-content: space-around;
          align-items: center;
          padding: .3rem 0;
          border-radius: 20px;
          border-bottom-right-radius: 0;
          margin-right: 1rem;
          position: relative;
          top: 3px; }
          body .main-div .article-part .middle .main-middle p {
            position: relative;
            top: 10px; }
          body .main-div .article-part .middle .main-middle img {
            width: 15px;
            cursor: pointer; }
      body .main-div .article-part .author-part {
        display: flex;
        justify-content: space-between; }
        body .main-div .article-part .author-part .one {
          display: flex; }
          body .main-div .article-part .author-part .one .main-img {
            border-radius: 60%;
            width: 15%;
            position: relative;
            top: 10px;
            margin-right: 1rem; }
            body .main-div .article-part .author-part .one .main-img img {
              width: 100%;
              border-radius: 60%; }
          body .main-div .article-part .author-part .one .text-part {
            position: relative;
            top: 15px; }
            body .main-div .article-part .author-part .one .text-part p {
              line-height: 1.5;
              margin: 0 !important; }
              body .main-div .article-part .author-part .one .text-part p:first-child {
                font-weight: 700;
                color: #48556a; }
              body .main-div .article-part .author-part .one .text-part p:last-child {
                position: relative;
                left: 4px; }
        body .main-div .article-part .author-part .two {
          display: flex;
          flex-direction: column;
          justify-content: center; }
          body .main-div .article-part .author-part .two .icon {
            padding: .5rem;
            border-radius: 50%;
            background-color: #ecf2f8; }
            body .main-div .article-part .author-part .two .icon img {
              cursor: pointer; }

@media screen and (max-width: 991px) {
  .main-div {
    transition: .3s;
    width: 80% !important; } }

@media screen and (max-width: 767px) {
  .main-div {
    transition: .3s;
    width: 60% !important;
    flex-direction: column; }
    .main-div .img-part img {
      border-top-left-radius: 0 !important;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px; }
    .main-div .middle .main-middle {
      width: 70% !important;
      position: relative;
      top: -3px !important; } }

@media screen and (max-width: 585px) {
  .main-div {
    width: 90% !important; }
    .main-div .middle .main-middle {
      width: 60% !important;
      position: relative;
      top: -10px !important; }
  .author-part {
    margin-top: -1rem; } }
